apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      component: postgres
  template:
    metadata:
      labels:
        component: postgres
    spec:
      containers:
        - name: postgres
          image: postgres
          env:
            - name: POSTGRES_PASSWORD
              value: 'postgrespassword'
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-cluster-ip-svc
spec:
  type: ClusterIP
  selector:
    component: postgres
  ports:
    - name: postgres
      protocol: TCP
      port: 5432
      targetPort: 5432
